<div class="landing">
	<div class="container">
		<div class="text-center landing_title">
			<%= link_to "Find places you'll fall in love with", places_path, class: "btn btn-default btn-lg btn-landing" %>
		</div>
	</div>
</div>