.alert {
	position:absolute;
    z-index:1;
    width: 200px;
}

.landing { 
  background: image-url("blurred.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 100vh;
}

.landing_title {
	padding-top: 230px;
}

.btn-landing {
	background: none;
	border: solid;
}

.btn-landing:hover { 
    background: none;
     border-color: white;
}
.navbar {
  margin-bottom: 0px;
}